* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: bisque; */
  /* max-width: 75rem; */
  max-width: 90rem;
  margin: 0 auto;
  color: #666666;
  font-family: pt-sans, sans-serif;
}
header {
  background-color: bisque;
}
nav {
  background-color: #222222;
}
#home {
  background-color: bisque;
}
#about {
  background-color: #fff;
  padding-bottom: 130px;
}
#services {
  background-color: bisque;
  padding-bottom: 130px;
}
#contact {
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #222222;
}
/* .table-nav .td-nav {
  border-collapse: collapse;
  width: 12vw;
  color: #222222;
  text-align: center;
  font-weight: 400;
  font-family: pt-sans, sans-serif;
  font-size: 14px;
} */
.td-logo {
  font-family: pt-sans, sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  width: 20vw;
  padding-left: 25px;
  flex-grow: 2;
}

.td-nav {
  display: none;
}

.smedia {
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 24px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: #666666;
}

.fa:hover {
  opacity: 0.7;
  color: #ff9010;
}

.fa-bars {
  color: #fff;
}

.td-logo a,
.td-nav a {
  color: #fff;
}

.j-color {
  color: #ff9010;
  font-style: italic;
}
.td-welcome {
  /* color: #333; */
  color: #ffffff;
  /* font-size: 3.15rem; */
  font-size: 2.5rem;
  font-family: pt-sans, sans-serif;
  line-height: 72px;
  font-weight: 700;
}

.td-greet {
  /* color: #666666; */
  color: #ffffff;
  font-family: pt-sans, sans-serif;
  line-height: 27px;
  font-weight: 700;
  font-style: italic;
  /* font-size: 1.5rem; */
  font-size: 1.3rem;
}

/* td-hero-img { */
.td-img {
  background-color: goldenrod;
  /* width: 100px;
    height: auto; */
}

/* .div-hero {
  display: inline;
} */

.subscribe {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.btn {
  /* display: inline; */
  margin-top: 30px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  font-family: pt-sans, sans-serif;
  font-weight: 700;
  background-color: #ff9010;
  border-radius: 0.125rem;
  border: none;
  min-height: 3.125rem;
  min-width: 9.375rem;
  /* align-self: flex-end; */
}
.email {
  /* display: inline; */
  /* margin-top: 30px; */
  line-height: 1.75rem;
  /* text-align: center; */
  color: #414141;
  font-family: pt-sans, sans-serif;
  font-weight: 700;
  /* background-color: #ff9010; */
  border-radius: 2px;
  border: none;
  /* min-height: 3.125rem;
  min-width: 9.375rem; */
  min-height: 3.125rem;
  min-width: 9.375rem;
  text-indent: 1rem;
  /* align-self: flex-end; */
}

.div-welcome {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: calc(100vh - 3.5rem);
  max-height: 38.2rem;
}

.hero-img {
  /* hide in small screen */
  display: none;
  /* width: 50vw; */
  width: 50%;
  /* height: 70vh; */
  height: auto;
  /* transform: translateX(12vw); */
  flex-grow: 1;
  /* align-self: center; */
  align-self: flex-start;
}

.about-me {
  text-align: center;
  padding: 3.5rem 2rem 2rem 0;
}

.intro-jay {
  padding-top: 50px;
  font-family: pt-sans, sans-serif;
  text-align: center;
  line-height: 29px;
  font-size: 24px;
}

.intro-thanks {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: pt-sans, sans-serif;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
}

.p-offer {
  text-align: center;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.div-offer {
  display: inline;
  width: 300px;
}
.div-offer img {
  /* margin: 5px; */
  width: 200px;
  height: auto;
  border-radius: 16px;
  margin-right: 10px;
}

.p-offer-details {
  text-align: center;
  font-family: pt-sans, sans-serif;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
  /* margin-bottom: 50px; */
}

footer {
  text-align: center;
  background-color: #222222;
  color: #fff;
  font-family: pt-sans, sans-serif;
  line-height: 21px;
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-j {
  color: #ff9010;
}

.all-rights {
  display: none;
}

/* p {
    text-transform: capitalize;
  } */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.td-menu {
  display: flex;
  color: #222222;
  text-align: center;
  font-weight: 400;
  font-family: pt-sans, sans-serif;
  font-size: 14px;
  /* justify-content: space-evenly; */
  justify-content: end;
  flex-grow: 8;
  padding-right: 1rem;
}

.td-nav :hover {
  color: #ff9010;
}

.home {
  /* display: flex; */
  justify-content: space-evenly;
  align-items: center;
  /* max-height: 25rem; */
  overflow: hidden;
  /* padding-left: 2rem; */

  /* background-image: url(../images/pirapat.png); */
  background-image: url(../images/pirapat-source\ -\ crop.png);
  background-repeat: no-repeat;
  /* <480px */
  background-position: 10vw 5vh;
}

.posts {
  /* display: flex; */
  background-color: #ffffff;
  /* background-color: brown; */
  /* flex-wrap: wrap; */
  margin-top: 2.5rem;
}

.latest-post {
  /* width: 60vw; */
  height: auto;
  padding: 2rem;
  /* flex-grow: 2; */
}
.about-jay {
  /* width: 60vw; */
  /* height: auto;
  padding: 3.5rem; */
  /* flex-grow: 1; */
  padding: 2rem;
}

.latest-post img {
  /* width: 60vw; */
  width: 100%;
  height: auto;
  filter: hue-rotate(180deg);
  border-radius: 0.25rem;
  box-shadow: 10px 10px 68px -32px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 68px -32px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 68px -32px rgba(0, 0, 0, 0.75);
}

.latest-post-title {
  /* font-size: 2rem; */
  font-size: 1.75rem;
  margin: 1.5rem 0rem;
  font-weight: bold;
  letter-spacing: -0.1rem;
}
.latest-post-content {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
  margin-bottom: 1rem;
}

.post-date {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5;
  margin-top: 2rem;
}

.about-title {
  font-size: 1.125rem;
  text-align: left;
  color: #111111;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 1rem;
  border-left: 0.5rem solid #ff9010;
  padding-left: 0.5rem;
}

.about-desc {
  text-align: left;
  line-height: 1.4;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.stay {
  margin-bottom: 2rem;
}

.stay img {
  width: 100%;
}

.top-articles img {
  width: 4.375rem;
  height: 4.375rem;
}

.top-articles-list {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: -11px 10px 34px -24px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: -11px 10px 34px -24px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: -11px 10px 34px -24px rgba(0, 0, 0, 0.76);
}

.top-articles-title {
  font-weight: bold;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.burger-nav i {
  /* display: none; */
  color: #ffffff;
}

/* used media queries */
/* 480px */
/* 550px */
/* 768px */

/* size 480 */

/* @media (min-width: 480px) { */
@media (min-width: 480px) {
  .home {
    /* >480 */
    background-position: 30vw 5vh;
    /* >550 */
    /* background-position: 40vw 5vh; */
    /* >768 */
    /* background-position: 50vw 5vh; */
  }

  .burger-nav i {
    display: none;
    /* color: #ffffff; */
  }

  .td-nav {
    display: inline-block;
    /* color: #ffffff; */
  }
  .td-menu {
    justify-content: space-evenly;
  }
}

/* size 550 */

/* @media (min-width: 550px) { */
@media (min-width: 550px) {
  .home {
    /* >550 */
    background-position: 40vw 5vh;
  }

  .div-welcome {
    align-items: flex-start;
    /* justify-content: center; */
    /* padding-left: 5vw; */
    margin-left: 10vw;
    /* padding-bottom: 2vw; */
    /* margin-bottom: 10vh; */
  }

  .j-hello {
    color: #222222;
  }

  .posts {
    display: flex;
    /* background-color: #ffffff; */
    /* background-color: brown; */
    /* flex-wrap: wrap; */
    /* margin-top: 2.5rem; */
  }

  .about-me {
    padding-top: 0;
  }
}
/* size 550 */

/* @media (min-width: 768px) { */
@media (min-width: 768px) {
  .home {
    /* >768 */
    background-position: 50vw 5vh;
  }

  .div-welcome {
    align-items: flex-start;
    justify-content: center;
    /* padding-left: 5vw; */
    margin-left: 10vw;
    /* padding-bottom: 2vw; */
    /* margin-bottom: 10vh; */
  }
}
